# 具体配置项参考：config\config.go的config结构体

# APP:
#   GIN_MODE: 'debug'

# 项目端口
APP:
  PORT: 8080

# 数据库
DB:
  DSN: 'root:root@tcp(localhost:3306)/x_admin?charset=utf8mb4&parseTime=True&loc=Local'

#Redis
REDIS:
  URL: 'redis://localhost:6379'

# 上传文件目录
FILE:
  UPLOAD_DIRECTORY: '/www/wwwroot/x_admin_go/public/uploads/'
