# 属性大驼峰命名，不使用全大写
# 具体配置项参考：config\config.go的config结构体

# APP.GinMode='debug'

# 项目端口
APP.Port=8001

# 数据库
DB.Dsn='root:root@tcp(localhost:3306)/x_admin?charset=utf8mb4&parseTime=True&loc=Local'

#Redis
REDIS.Url='redis://localhost:6379'

# 上传文件目录
FILE.UploadDirectory='/www/wwwroot/x_admin_go/public/uploads/'


GeTui.Host=''
GeTui.AppID=''
GeTui.AppKEY=''
GeTui.AppSECRET=''
GeTui.MasterSecret=''
GeTui.PackName=''